﻿@{
    ViewData["Title"] = "Home Page";
}






<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Juniper Product Look Up Tool</title>
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body ng-cloak>

    <div id="jlogo"><img src="~/images/juniper-logo.png" border="0" width="166" height="66" alt="Juniper Networks" title="Juniper Networks"></div>

    <header>

        <div id="logo"> <img src="~/images/headerlogo.png" width="300" height="60" alt="Juniper Product Look Up Tool" title="Juniper Product Look Up Tool"> </div>

        <div id="search-section">

            <div class="search-boxes">

                <form action="#" id="mainform" method="get" name="mainform">
                    <span><input name="searchfield_1" type="text" placeholder="Search here..." /></span>
                    <span id="myForm"></span>
                </form>

            </div> <!-- Class search-boxes ends -->

            <div>
                <input type="submit" ng-click="search()" value="." />
                <span id="but1"><button onclick="searchBox1Function()">.</button> </span>
                <span id="but2"><button onclick="searchBox2Function()">.</button> </span>
                <span id="reset"> <button onclick="resetElements()">.</button> </span>
            </div>

        </div> <!-- ID search-section ends -->

    </header>


    <section>

        <div>

            <table infinite-scroll="addMoreItems()" infinite-scroll-distance="2">
                <tr>
                    <th><span> Product ID</span> <button class="sort-button" ng-click="sort('productId')"></button> </th>
                    <th><span> Product Description</span> <button class="sort-button" ng-click="sort('productDescription')"></button> </th>
                    <th><span> US_HTS</span> <button class="sort-button" ng-click="sort('usHts')"></button></th>
                    <th><span>Z_US_ECCN</span> <button class="sort-button" ng-click="sort('zUsEccn')"></button> </th>
                    <th><span>Z_EU_ECCN </span> <button class="sort-button" ng-click="sort('zEuEccn')"></button></th>
                    <th><span> Z_CCATS</span> <button class="sort-button" ng-click="sort('zCcats')"></button></th>
                </tr>
                <tr ng-repeat="product in ProductClarification| orderBy:sortColumn:direction track by $index ">
                    <td> {{product.productId}}  </td>
                    <td> {{product.productDescription}} </td>
                    <td> {{product.usHts}} </td>
                    <td> {{product.zUsEccn}} </td>
                    <td> {{product.zEuEccn}} </td>
                    <td> {{product.zCcats}} </td>
                </tr>
            </table>

        </div>

    </section>

    <footer>

        1999 - 2017  Juniper Networks, Inc.  All rights reserved

    </footer>

    <script src="./js/searchbox.js" type="text/javascript"></script>
</body>

</html>




@section scripts{
    <script src="~/js/api/home.js"></script>
    <script type="text/javascript">
        myApp.controller("myCtrl", function ($scope, $filter, $http) {


            $scope.search = function () {
                $scope.Id = '';
                var arr = ["searchfield_1", "searchfield_2", "searchfield_3"];

                for (var a = 0; a < arr.length; a++) {
                    if (a == 0)
                        if ($('input[name=' + arr[a] + ']').val() != '') {
                            $scope.Id += $('input[name=' + arr[a] + ']').val() + ',';
                        }
                    if (a > 0)
                        if ($('input[name=' + arr[a] + ']').val() != undefined) {
                            $scope.Id += $('input[name=' + arr[a] + ']').val() + ',';
                        }
                }

                $scope.Id = $scope.Id.slice(0, -1);

                if ($scope.Id)
                    Home.getById($scope.Id).then(function (response) {
                        $scope.ProductClarification = response;
                        $scope.$apply();
                    }, function (error) {
                        alert(error);
                    });
                else
                    Home.getList().then(function (response) {
                        $scope.ProductClarification = response;
                        $scope.$apply();
                    }, function (error) {
                        alert(error);
                    });
            }

            //For Sorting The Columns
            $scope.sortColumn = 'productId';
            $scope.direction = false;
            $scope.sort = function (column) {
                if ($scope.sortColumn === column) {
                    $scope.direction = !$scope.direction;
                } else {
                    $scope.sortColumn = column;
                    $scope.direction = false;
                }
            }
        });


        myApp.directive('infiniteScroll', [
            '$rootScope', '$window', '$timeout', function ($rootScope, $window, $timeout) {
                return {
                    link: function (scope, elem, attrs) {
                        var checkWhenEnabled, handler, scrollDistance, scrollEnabled;
                        $window = angular.element($window);
                        elem.css('overflow-y', 'scroll');
                        elem.css('overflow-x', 'hidden');
                        elem.css('height', 'inherit');
                        scrollDistance = 0;
                        if (attrs.infiniteScrollDistance != null) {
                            scope.$watch(attrs.infiniteScrollDistance, function (value) {
                                return scrollDistance = parseInt(value, 10);
                            });
                        }
                        scrollEnabled = true;
                        checkWhenEnabled = false;
                        if (attrs.infiniteScrollDisabled != null) {
                            scope.$watch(attrs.infiniteScrollDisabled, function (value) {
                                scrollEnabled = !value;
                                if (scrollEnabled && checkWhenEnabled) {
                                    checkWhenEnabled = false;
                                    return handler();
                                }
                            });
                        }
                        $rootScope.$on('refreshStart', function (event, parameters) {
                            elem.animate({ scrollTop: "0" });
                        });
                        handler = function () {
                            var container, elementBottom, remaining, shouldScroll, containerBottom;
                            container = $(elem.children()[0]);
                            elementBottom = elem.offset().top + elem.height();
                            containerBottom = container.offset().top + container.height();
                            remaining = containerBottom - elementBottom;
                            shouldScroll = remaining <= elem.height() * scrollDistance;
                            if (shouldScroll && scrollEnabled) {
                                if ($rootScope.$$phase) {
                                    return scope.$eval(attrs.infiniteScroll);
                                } else {
                                    return scope.$apply(attrs.infiniteScroll);
                                }
                            } else if (shouldScroll) {
                                return checkWhenEnabled = true;
                            }
                        };
                        elem.on('scroll', handler);
                        scope.$on('$destroy', function () {
                            return $window.off('scroll', handler);
                        });
                        return $timeout((function () {
                            if (attrs.infiniteScrollImmediateCheck) {
                                if (scope.$eval(attrs.infiniteScrollImmediateCheck)) {
                                    return handler();
                                }
                            } else {
                                return handler();
                            }
                        }), 0);
                    }
                };
            }
        ]);
    </script>
}