body {
  overflow-x: hidden;
  margin: 0;
  background-color: #ccc;
}

header {
    width: 100%;
    height: 60px;
    background-color: #3493c2;
}

#jlogo {
	margin: 0 0 -4px -1px;
    background-color: #fff;
}

#logo {
    width: 375px;
    float: left;
}

#search-section {padding: 13px;}

input {
    display: inline;
    margin-right: -10px;
    float: left;
    background: #005984;
    border-radius: 4px;
    box-shadow: 0 0px 3px 1px #00ABFF;
    border: 0;
    color: #fff;
    font-size: 14px;
    height: 34px;
    width: 220px;
}

input[type = submit] {
    width: 35px;
    height: 34px;
    margin-right: 7px;
    margin-left: 40px;
    background:url("../images/submit.png") no-repeat;
}

#id_1, #id_2 {margin-left: 50px;}

#but1 > button, #but2 > button {
    background:url("../images/add.png") no-repeat;
    width: 35px;
    height: 33px;
    border: 0;
}

.sort-button {
	float: right;
	height: 30px;
	width: 25px;  
	background-image:url('../images/sorticon.png');
	background-repeat:no-repeat;
	border: 0;
	cursor: pointer;
}

#reset > button {
    background:url("../images/clear.png") no-repeat;
    width: 35px;
    height: 33px;
    margin-left: 7px;
    border: 0;
}

#but2 {margin-left: -35px;}

span {float: left;}

.search-boxes {width: 1600px;}

.deleteicon {
    position: absolute;
    background: url(../images/delete.png) no-repeat;
    z-index: 60;
	height: 38px;
}

#myForm {
    position: relative;
}



/*  Page Content Styles */

section {
	margin: 30px auto;
	width: 1000px;
	background-color: #fff;
	height: 100%;
	border-top: 3px solid #005984;
	padding: 20px;	
}

th {
    width: 150px;    
	background-color: #EAF3F8;
    border: 1px solid #cccccc;
	color: #3493c2;
	font-family: Helvetica;
    font-size: 13px;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
}

th > span {margin-top: 7px;}

td {	
	height: 14px;
    width: 150px;
    border: 1px solid #cccccc;
	color: #000000;
	font-family: Helvetica;
    font-size: 13px;
	text-align: left;
	padding: 7px 10px;
}

td:nth-child(2), th:nth-child(2) {
width: 320px;
}

footer {	
	font-size: 0.7em;
	font-family: Arial;
	color: #ffffff;
	box-shadow: 5px 5px 15px #ccc;
	background-color: #3493c2;
	text-align: center;
	padding: 4px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}