﻿@* Scripts Section *@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/js/Component.js"></script>
@* Scripts Section *@

<script type="text/javascript">
    var myBaseUrl = "http://localhost:50779/";
    //var myBaseUrl = "https://testlegalanalytical-env.us-west-2.elasticbeanstalk.com/";
    var myApp = angular.module('myApp', [])
    myApp.controller("myBaseCtrl", function ($scope, $filter, $http, $timeout) {

        //We Can Write Common Code In This To Access All Child Controllers

    });
</script>
